@model bizcard.online.Models.Cards

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Cards</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Id)

        <div class="form-group">
            @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ImageName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10"> 
                @Html.HiddenFor(model => model.ImageName)
                <img width ="200px" src="/images/@Html.DisplayFor(model => model.ImageName)">
                    @(Html.Kendo().Upload()
                    .Name("files")
                    .Async(a => a
                    .Save("Save", "Upload")
                    .Remove("Remove", "Upload")
                    .AutoUpload(true)
                    )
                    .Events(events => events
                    .Remove("onRemove")
                    .Select("onSelect")
                    .Success("onSuccess")
                    )
                    )
</div>
        </div>

        <script>

        function onSuccess(e) {
            $('#ImageName').val(getFileInfo(e));
        }

        function onSelect(e) {
            if (getFileSize(e) > 240) {
                $('#ImageName').val('');
                alert('Please choose an image less than 240kb');
            }
        }

        function onRemove(e) {
            $('#ImageName').val('');
        }

        function getFileInfo(e) {
            return $.map(e.files, function (file) {
                var info = file.name;
                return info;
            });
        }

        function getFileSize(e) {
            return $.map(e.files, function (file) {
                var info = "";

                // File size is not available in all browsers
                if (file.size > 0) {
                    info += Math.ceil(file.size / 1024);
                }
                return info;
            });
        }
        </script>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
