<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="google-site-verification" content="Ma8QrXgV--ih70ySxDe9mnkvaJVWxbKaV6Hc9AZkv7o" />
    <title>@ViewBag.Title - Bizcard.Online</title>
    @Scripts.Render("~/bundles/modernizr")
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/site.css" rel="stylesheet" />
    <link href="~/Content/blue.css" rel="stylesheet" />
    <link href="~/Content/style.css" rel="stylesheet" />
    <link href="~/Content/theme-responsive.css" rel="stylesheet" />
    <link href="~/Content/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Content/superfish.css" rel="stylesheet" />
    <link href="~/Content/animations.css" rel="stylesheet" />
    @Scripts.Render("~/bundles/jquery") 

	<link href="@Url.Content("~/Content/kendo/2015.1.429/kendo.common-bootstrap.min.css")" rel="stylesheet" type="text/css" />
	<link href="@Url.Content("~/Content/kendo/2015.1.429/kendo.mobile.all.min.css")" rel="stylesheet" type="text/css" />
	<link href="@Url.Content("~/Content/kendo/2015.1.429/kendo.dataviz.min.css")" rel="stylesheet" type="text/css" />
	<link href="@Url.Content("~/Content/kendo/2015.1.429/kendo.bootstrap.min.css")" rel="stylesheet" type="text/css" />
	<link href="@Url.Content("~/Content/kendo/2015.1.429/kendo.dataviz.bootstrap.min.css")" rel="stylesheet" type="text/css" />
	<script src="@Url.Content("~/Scripts/kendo/2015.1.429/jquery.min.js")"></script>
	<script src="@Url.Content("~/Scripts/kendo/2015.1.429/jszip.min.js")"></script>
	<script src="@Url.Content("~/Scripts/kendo/2015.1.429/kendo.all.min.js")"></script>
	<script src="@Url.Content("~/Scripts/kendo/2015.1.429/kendo.aspnetmvc.min.js")"></script>
	<script src="@Url.Content("~/Scripts/kendo.modernizr.custom.js")"></script>
</head>
<body>
    <div class="wrap">
        <header id="header">
            <!-- Header Top Bar -->
            <div class="top-bar">
                <div class="slidedown collapse">
                    <div class="container">
                        <div class="pull-left">
                            <ul class="social pull-left">
                                <li class="facebook"><a href="https://www.facebook.com/BizcardOnline-1626822740924100/"><i class="fa fa-facebook"></i></a></li>
                                <li class="twitter"><a href="https://twitter.com/bizcard_online"><i class="fa fa-twitter"></i></a></li> 
                            </ul>
                        </div>
                        <div class="phone-login pull-right">
                            @Html.Partial("_LoginPartial")
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">

                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <div class="logo pull-left">
                        <h1>
                            <a href="/">
                                <img src="~/img/logo.png" />

                            </a>
                        </h1>
                    </div>
                </div>
                <div id="navbar" class="navbar-collapse collapse">

                    <ul class="nav navbar-nav navbar-right">

                        <li class="dropdown">
                            <a href="javascript:;" class="dropdown-toggle Active" data-toggle="dropdown">
                                <span>About</span>
                                <b class="caret"></b>
                            </a>

                            <ul class="dropdown-menu">
                                <li>
                                    <a href="/about/">About Us</a>
                                    <a href="/about/history">Our History</a>
                                    <a href="/about/team">Our Team</a>
                                    <a href="/about/faq">Faq</a>
                                </li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="javascript:;" class="dropdown-toggle Active" data-toggle="dropdown">
                                <span>Benefits</span>
                                <b class="caret"></b>
                            </a>

                            <ul class="dropdown-menu">
                                <li>
                                    <a href="/benefits/agents">Agent</a>
                                    <a href="/benefits/brokers">Broker</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="/blog">
                                <span>Blog</span>
                            </a>
                        </li>
                        <li class="dropdown">
                            <a href="javascript:;" class="dropdown-toggle Active" data-toggle="dropdown">
                                <span>Contact</span>
                                <b class="caret"></b>
                            </a>

                            <ul class="dropdown-menu">
                                <li><a href="/contact/sales">Sales</a></li>
                                <li><a href="/contact/billing">Billing</a></li>
                            </ul>
                        </li>

                        <li class="dropdown">
                            <a href="javascript:;" class="dropdown-toggle Active" data-toggle="dropdown">
                                <span>Login</span>
                                <b class="caret"></b>
                            </a>

                            <ul class="dropdown-menu">
                                <li>
                                    <a href="/Account/Login">Agent Login</a>
                                    <a href="/Account/Login">Broker Login</a>
                                    <a href="/Login/Seller">Seller Login</a>
                                </li>
                            </ul>
                        </li>


                    </ul>
                </div><!--/.nav-collapse -->
            </div><!--/.container-fluid -->
        </nav>
        <div class="container body-content" style="min-height: 539px;">
            @RenderBody()
        </div>
        <footer id="footer">
            <div class="pattern-overlay">
                <!-- Footer Top -->
                <div class="footer-top">
                    <div class="container">
                        <div class="row">
                            <section class="col-lg-3 col-md-3 col-xs-12 col-sm-3 footer-one wow fadeIn animated" style="visibility: visible;">
                                <h3 class="light">About</h3>
                                <p>
                                    Bizcard.Online is an online platform that allows you to share your Business card online.
                                </p>
                            </section>
                            <section class="col-lg-3 col-md-3 col-xs-12 col-sm-3 footer-two wow fadeIn animated" style="visibility: visible;">
                                <h3 class="light">Twitter Stream</h3>
                                <ul id="tweets"></ul>
                            </section>
                            <section class="col-lg-3 col-md-3 col-xs-12 col-sm-3 footer-three wow fadeIn animated" style="visibility: visible;">
                                <h3 class="light">Contact Us</h3>
                                <ul class="contact-us">
                                    <li>
                                        <i class="fa fa-map-marker"></i>
                                        <p>
                                            <strong class="contact-pad">Address:</strong> 56 River Ridge Blvd,<br> Aurora <br>
                                            Ontario, Canada
                                        </p>
                                    </li>
                                    <li>
                                        <i class="fa fa-phone"></i>
                                        <p><strong>Phone:</strong> +1 210-897-4557</p>
                                    </li>
                                    <li>
                                        <i class="fa fa-envelope"></i>
                                        <p>
                                            <strong>Email:</strong><a href="mailto:support@bizcard.online">
                                                support@bizcard.online<div class="fit-vids-style" id="fit-vids-style" style="display: none;">
                                                    &shy;
                                                    <style>
                                                        .fluid-width-video-wrapper {
                                                            width: 100%;
                                                            position: relative;
                                                            padding: 0;
                                                        }

                                                            .fluid-width-video-wrapper iframe, .fluid-width-video-wrapper object, .fluid-width-video-wrapper embed {
                                                                position: absolute;
                                                                top: 0;
                                                                left: 0;
                                                                width: 100%;
                                                                height: 100%;
                                                            }
                                                    </style>
                                                </div>
                                                <script cf-hash="f9e31" type="text/javascript">
        /* <![CDATA[ */!function () { try { var t = "currentScript" in document ? document.currentScript : function () { for (var t = document.getElementsByTagName("script"), e = t.length; e--;) if (t[e].getAttribute("cf-hash")) return t[e] }(); if (t && t.previousSibling) { var e, r, n, i, c = t.previousSibling, a = c.getAttribute("data-cfemail"); if (a) { for (e = "", r = parseInt(a.substr(0, 2), 16), n = 2; a.length - n; n += 2) i = parseInt(a.substr(n, 2), 16) ^ r, e += String.fromCharCode(i); e = document.createTextNode(e), c.parentNode.replaceChild(e, c) } } } catch (u) { } }();/* ]]> */</script>
                                            </a>

                                        </p>
                                    </li>
                                </ul>
                            </section>
                            <section class="col-lg-3 col-md-3 col-xs-12 col-sm-3 footer-four wow fadeIn animated" style="visibility: visible;">
                                <h3 class="light">Subscribe</h3>
                                <p>
                                    Subscribe to our email newsletter to receive our news, updates and awesome free files.
                                </p>
                                <form method="get" action="#">
                                    <div class="input-group">
                                        <input type="text" value="support@bizcard.online" onfocus="if(this.value=='support@scheduledshowings.ca')this.value='';" onblur="if(this.value=='')this.value='support@scheduledshowings.ca';" class="subscribe form-control">
                                        <span class="input-group-btn">
                                            <button class="btn subscribe-btn" type="button">Join</button>
                                        </span>
                                    </div>
                                    <!-- /input-group -->
                                </form>
                            </section>
                        </div>
                    </div>
                </div>
                <!-- /Footer Top -->
                <!-- Footer Bottom -->
                <div class="footer-bottom">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-xs-12 col-sm-6 ">
                                <p class="credits"> <p>&copy; @DateTime.Now.Year - Bizcard.Online All Rights Reserved.</p>
                            </div>
                            <div class="col-lg-6 col-md-6 col-xs-12 col-sm-6 ">
                                <ul class="social social-icons-footer-bottom">
                                    <li class="facebook"><a href="https://www.facebook.com/pages/Scheduled-Showings/680362382098379" data-toggle="tooltip" title="" data-original-title="Facebook"><i class="fa fa-facebook"></i></a></li>
                                    <li class="twitter"><a href="https://twitter.com/scheduledshowca" data-toggle="tooltip" title="" data-original-title="Twitter"><i class="fa fa-twitter"></i></a></li>
                                    <li class="linkedin"><a href="https://www.linkedin.com/company/scheduled-showings" data-toggle="tooltip" title="" data-original-title="LinkedIn"><i class="fa fa-linkedin"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /Footer Bottom -->
            </div>
        </footer>
        <script>
        $('ul.nav li.dropdown').hover(function () {
            $(this).find('.dropdown-menu').stop(true, true).delay(200).fadeIn(500);
        }, function () {
            $(this).find('.dropdown-menu').stop(true, true).delay(200).fadeOut(500);
        });

        </script>
        @Scripts.Render("~/bundles/bootstrap")
        @RenderSection("scripts", required: false)
        <script>
    (function (i, s, o, g, r, a, m) {
        i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
            (i[r].q = i[r].q || []).push(arguments)
        }, i[r].l = 1 * new Date(); a = s.createElement(o),
        m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
    })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

    ga('create', 'UA-68134329-1', 'auto');
    ga('send', 'pageview');

        </script>
    </div>
</body>
</html>
