@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "" }))
    {
    @Html.AntiForgeryToken()
    <ul class="nav navbar-nav pull-right" style="margin-top: 0">
        <li class="dropdown">
            <a href="#" id="userDropdown"><i class="fa fa-user"></i>&nbsp;Admin <b class="caret"></b></a>
            <ul class="dropdown-menu" role="menu" aria-labelledby="userDropdown">
                <li>@Html.ActionLink("Manage", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })</li>
                <li>@Html.ActionLink("Cards", "Send", "Cards", routeValues: null, htmlAttributes: new { title = "Send Bizcards" })</li>
                <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a> </li>
                <li class="divider"></li>
                <li><a href="/Admin">Dashboard</a></li>
            </ul>
        </li>
        </ul>
        }
        }
        else if (Session["Username"] != null)
        {
        @Html.AntiForgeryToken()
        <li>
            <i class="fa fa-edit"></i>
            @Html.ActionLink("Hello " + Session["Username"] + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })
        </li>
        <li>
            <i class="fa fa-sign-in"></i>
            @Html.ActionLink("Log out", "LogOff", "Login", routeValues: null, htmlAttributes: new { id = "loginLink" })
        </li>
        }
        else
        {
            <ul class="nav navbar-nav pull-right" style="margin-top: 0">
                <li>
                    @Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })
                </li>
                <li>
                    @Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
                </li>
                </ul>
                }


