@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
    @Html.AntiForgeryToken()

    <ul class="nav navbar-nav navbar-right">
        <a><i class="fa fa-phone"></i> Call Us : 647-444-0805</a>
        <i class="fa fa-edit"></i>
            @Html.ActionLink("Hello " + User.Identity.GetUserName() + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })
        <i class="fa fa-sign-in"></i><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a> 
    </ul>
    }
}
else if (Session["Username"] != null)
{
    @Html.AntiForgeryToken()

    <ul class="nav navbar-nav navbar-right">
        <a><i class="fa fa-phone"></i> Call Us : +880 111-111-111</a>
        <i class="fa fa-edit"></i>
        @Html.ActionLink("Hello " + Session["Username"] + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })
        <i class="fa fa-sign-in"></i>
        @Html.ActionLink("Log out", "LogOff", "Login", routeValues: null, htmlAttributes: new { id = "loginLink" }) 
    </ul>
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <a><i class="fa fa-phone"></i> Call Us : +1 647-444-0805</a>
        <i class="fa fa-edit"></i>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" }) 
        <i class="fa fa-sign-in"></i>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })  

    </ul>
}
